<div class="hero">
  <h1>Employee Happiness Made Simple</h1>
</div>

<% if current_user %>
  <div class="user-favorite">
    <%= render "favorites/favorites" %>
  </div>
<% else %>
  <div class="container how-to row">
    <div class="three columns">three</div>
    <div class="three columns">three</div>
    <div class="three columns">three</div>
  </div>
<% end %>

<div class=search>
  <form>
    <input type="text" id='location' name="Location">
    <input type="submit" id='address' value="Find Perks Near You">
  </form>
</div>

<div id="map"></div>

<!-- <div class="list-category">
  <h2>Want to Know What Perks You can Have?</h2>
    <% @categories.each do |category| %>
      <div class="two columns category">
        <%= category.name %>
      </div>
    <% end %>
</div> -->
<div class="container list_perks">
  <h1>All the Perks You've Dreamed</h1>
  <% @perks.each do |perk| %>
  <% if Brand.where(perk_id: perk.id).length > 0 %>
    <h3><%= link_to "#{Brand.where(perk_id: perk.id).first.name}", perk_details_path(perk.id) %></h3>
  <% end %>
    <p><%= perk.details %></p>
    <hr>
  <% end %>
</div>
  <div class=pagination>
    <%= will_paginate @perks %>
  </div>
<div class=question>
</div>
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>&callback=initMap"></script> -->
