<div class='favorite2'> 
  <h2>Your most recent favorites</h2>
  <% if @user_favorite.length == 2 %>
    <% for i in 0..1 %>
      <% fpc_id = @user_favorite[i].perk_category_id %>
      <% @favorite_brand = Brand.find(PerkCategory.find(fpc_id).perk_id)%>
      <% @favorite_detail = Perk.find(PerkCategory.find(fpc_id).perk_id).details%>
    
    <div class='one-box'>
      <div class='favorite-details'>
        <p><strong>Name: </strong><%= @favorite_brand.name %></p>
        <p><strong>Details: </strong><%= @favorite_detail %></p>
      </div>
        
        <img src="<%= @favorite_brand.image %>"/>
    </div>
    <% end %>
      
  <% else %>
    <% fpc_id = @user_favorite.first.perk_category_id %>
    <% @favorite_brand = Brand.find(PerkCategory.find(fpc_id).perk_id)%>
    <% @favorite_detail = Perk.find(PerkCategory.find(fpc_id).perk_id).details%>
    <div class='one-box'>
      <div class='favorite-details'>
        <p>Name: <%= @favorite_brand.name %></p>
        <p>Details <%= @favorite_detail %></p>
      </div>
      
      <img src="<%= @favorite_brand.image %>"/>
    </div>
  <% end %>
</div>